.login__input {
    font-weight: 400;
    font-size: 14px;
    width: 358px;
    border: none;
    border-bottom: 2px solid rgb(204, 204, 204);
    padding: 0 0 10px 0;
    background-color: #000000;
    color: #ffffff;
}

.login__input:focus {
    outline: none;
}

.login__input:-webkit-autofill,
.login__input:-webkit-autofill:hover,
.login__input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0 16px #000000 inset;
    caret-color: #ffffff;
}

@media screen and (max-width: 767px) {
    .login__input {
        width: 238px;
    }
}
