.footer {
    width: calc(100% - 2*200px);
    display: flex;
    margin-top: 66px;
    margin-bottom: 60px;
}

@media screen and (max-width: 1279px) {
    .footer {
        width: calc(100% - 2*90px);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 2*19px);
        margin-top: 48px;
        margin-bottom: 36px;
    }
}