.popup__error_visible {
    color: #FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 358px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .popup__error_visible {
        width: 238px;
    }
}