.header {
    width: calc(100% - 2*200px);
    margin-top: 45px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header {
        width: calc(100% - 2*90px);
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 100%;
        margin-top: 28px;
        min-height: 56px;
    }
}